---
import { Icon } from 'astro-icon/components';
import { Image } from "astro:assets";
import Layout from '@layouts/Layout.astro';
import FAQ from "@components/FAQ.astro";
import Question from "@components/FAQ-question.astro";
import Link from "@src/components/Link.astro";
import Timeline from "@components/Timeline.astro";

import Windy_Hug from "@personal/winders.png";
import Hope_Squad_Homecoming from "@personal/hopesquad-homecoming.png";
import Homecoming from "@personal/homecoming-crowned.png";
import prom_car from "@personal/prom-car.png";
import Super_Mario_Bros from "@personal/super-mario-bros.png";
import Guys_Burgers from "@personal/guys-burgers.png";
import Sunset_Cruise from "@personal/sunset-cruise.png";
import Shades from "@personal/suit.png";
import City_Car_Driving from "@personal/city-car-driving.png";
import Cruise from "@personal/cruise.png";
import Ninja_and_King from "@personal/ninja-and-king.png";
import King_VTOL from "@personal/king-vtol.png";
import Amber_Cove from "@personal/amber-cove.png";
import Ropes_Course from "@personal/ropes-course.png";
import Parker_VTOL from "@personal/parker-vtol.png";
import Homecoming_Car from "@personal/homecoming-car.png";
import Sunset_VTOL from "@personal/sunset-vtol.png";
import Pumpkin_Show from "@personal/pumpkin-show.png";
---

<Layout title="About" description="The up-to-date journey of Nathan Parker (KingPr0o7) of his love for technology, programming, and the pursuit of education." image="about.png" section_class='about-section' data_state="padded">
	<div id="prologue" class="full">
		<h1 id="prologue-quote">I'm <b>Nathan Parker</b>, an <b>aspiring developer</b> <br id="prologue-quote-break"> working to make <i>big things</i> <b>happen</b>.</h1>
		<div id="prologue-images">
			<div class="prologue-scroller">
				<Image src={Windy_Hug} class="prologue-image" alt="Nathan Parker hugging Windy (Nathan's Cat)" title="Nathan Parker hugging Windy (Nathan's Cat)" width={250} height={400} loading="eager" />
				<Image src={Hope_Squad_Homecoming} class="prologue-image" alt="Nathan Parker during homecoming representing his Hope Squad" title="Nathan Parker during homecoming representing his Hope Squad" width={250} height={400} loading="eager" />
				<Image src={Homecoming} class="prologue-image" alt="Nathan Parker after his Junior Year homecoming results (crowned)" title="Nathan Parker after his Junior Year homecoming results (crowned)" width={250} height={400} loading="eager" />
				<Image src={prom_car} class="prologue-image" alt="Nathan Parker during his Junior Year prom" title="Nathan Parker during his Junior Year prom" width={250} height={400} loading="eager" />
				<Image src={Super_Mario_Bros} class="prologue-image" alt="Nathan Parker in the middle playing Super Mario Bros, with my brothers on the left (Gavin) and right (Kai)" title="Nathan Parker in the middle playing Super Mario Bros, with my brothers on the left (Gavin) and right (Kai)" width={250} height={400} loading="eager" />
				<Image src={Guys_Burgers} class="prologue-image" alt="Nathan Parker eating a Guy's Burger on the 2024 Carnival Vista." title="Nathan Parker eating a Guy's Burger on the 2024 Carnival Vista." width={250} height={400} loading="eager" />
				<Image src={Sunset_Cruise} class="prologue-image" alt="Nathan Parker in the middle of the Bahamas during a sunset." title="Nathan Parker in the middle of the Bahamas during a sunset." width={250} height={400} loading="eager" />
				<Image src={Shades} class="prologue-image" alt="Nathan Parker during his Junior Year homecoming canidate" title="Nathan Parker during his Junior Year homecoming canidate" width={250} height={400} loading="eager" />
				<Image src={City_Car_Driving} class="prologue-image" alt="Nathan Parker mirroring a game to his TV via his Windows 7 laptop" title="Nathan Parker mirroring a game to his TV via his Windows 7 laptop" width={250} height={400} loading="eager" />
				<Image src={Cruise} class="prologue-image" alt="Nathan Parker on his cruise to Jamica" title="Nathan Parker on his cruise to Jamica" width={250} height={400} loading="eager" />
				<Image src={Ninja_and_King} class="prologue-image" alt="Nathan Parker on a Minecraft Server with Ninja_Talon" title="Nathan Parker on a Minecraft Server with Ninja_Talon" width={250} height={400} loading="eager" />
				<Image src={King_VTOL} class="prologue-image" alt="Nathan Parker flying the F/A-26B in VTOL VR during a mission" title="Nathan Parker flying the F/A-26B in VTOL VR during a mission" width={250} height={400} loading="eager" />
				<Image src={Amber_Cove} class="prologue-image" alt="Nathan Parker with the backdrop of Amber Cove." title="Nathan Parker with the backdrop of Amber Cove." width={250} height={400} loading="eager" />
				<Image src={Ropes_Course} class="prologue-image" alt="Nathan Parker trecking the Carnival Vista's ropes course." title="Nathan Parker trecking the Carnival Vista's ropes course." width={250} height={400} loading="eager" />				
				<Image src={Parker_VTOL} class="prologue-image" alt="Nathan Parker posing in the F/A-26B in VTOL VR at 12,000 ft." title="Nathan Parker flying the F/A-26B in VTOL VR during a mission" width={250} height={400} loading="eager" />
				<Image src={Homecoming_Car} class="prologue-image" alt="Nathan Parker during his Junior Year riding in the homecoming parade" title="Nathan Parker during his Junior Year riding in the homecoming parade" width={250} height={400} loading="eager" />
				<Image src={Pumpkin_Show} class="prologue-image" alt="Nathan Parker after winning the 2024 Versailles Pumpkin Show" title="Nathan Parker after winning the 2024 Versialls Pumpkin Show" width={250} height={400} loading="eager" />
				<Image src={Sunset_VTOL} class="prologue-image" alt="Nathan Parker playing VTOL VR new weather update" title="Nathan Parker playing VTOL VR new weather update" width={250} height={400} loading="eager" />
			</div>

			<div class="prologue-scroller">
				<Image src={Windy_Hug} class="prologue-image" alt="Nathan Parker hugging Windy (Nathan's Cat)" title="Nathan Parker hugging Windy (Nathan's Cat)" width={250} height={400} loading="eager" />
				<Image src={Hope_Squad_Homecoming} class="prologue-image" alt="Nathan Parker during homecoming representing his Hope Squad" title="Nathan Parker during homecoming representing his Hope Squad" width={250} height={400} loading="eager" />
				<Image src={Homecoming} class="prologue-image" alt="Nathan Parker after his Junior Year homecoming results (crowned)" title="Nathan Parker after his Junior Year homecoming results (crowned)" width={250} height={400} loading="eager" />
				<Image src={prom_car} class="prologue-image" alt="Nathan Parker during his Junior Year prom" title="Nathan Parker during his Junior Year prom" width={250} height={400} loading="eager" />
				<Image src={Super_Mario_Bros} class="prologue-image" alt="Nathan Parker in the middle playing Super Mario Bros, with my brothers on the left (Gavin) and right (Kai)" title="Nathan Parker in the middle playing Super Mario Bros, with my brothers on the left (Gavin) and right (Kai)" width={250} height={400} loading="eager" />
				<Image src={Guys_Burgers} class="prologue-image" alt="Nathan Parker eating a Guy's Burger on the 2024 Carnival Vista." title="Nathan Parker eating a Guy's Burger on the 2024 Carnival Vista." width={250} height={400} loading="eager" />
				<Image src={Sunset_Cruise} class="prologue-image" alt="Nathan Parker in the middle of the Bahamas during a sunset." title="Nathan Parker in the middle of the Bahamas during a sunset." width={250} height={400} loading="eager" />
				<Image src={Shades} class="prologue-image" alt="Nathan Parker during his Junior Year homecoming canidate" title="Nathan Parker during his Junior Year homecoming canidate" width={250} height={400} loading="eager" />
				<Image src={City_Car_Driving} class="prologue-image" alt="Nathan Parker mirroring a game to his TV via his Windows 7 laptop" title="Nathan Parker mirroring a game to his TV via his Windows 7 laptop" width={250} height={400} loading="eager" />
				<Image src={Cruise} class="prologue-image" alt="Nathan Parker on his cruise to Jamica" title="Nathan Parker on his cruise to Jamica" width={250} height={400} loading="eager" />
				<Image src={Ninja_and_King} class="prologue-image" alt="Nathan Parker on a Minecraft Server with Ninja_Talon" title="Nathan Parker on a Minecraft Server with Ninja_Talon" width={250} height={400} loading="eager" />
				<Image src={King_VTOL} class="prologue-image" alt="Nathan Parker flying the F/A-26B in VTOL VR during a mission" title="Nathan Parker flying the F/A-26B in VTOL VR during a mission" width={250} height={400} loading="eager" />
				<Image src={Amber_Cove} class="prologue-image" alt="Nathan Parker with the backdrop of Amber Cove." title="Nathan Parker with the backdrop of Amber Cove." width={250} height={400} loading="eager" />
				<Image src={Ropes_Course} class="prologue-image" alt="Nathan Parker trecking the Carnival Vista's ropes course." title="Nathan Parker trecking the Carnival Vista's ropes course." width={250} height={400} loading="eager" />				
				<Image src={Parker_VTOL} class="prologue-image" alt="Nathan Parker posing in the F/A-26B in VTOL VR at 12,000 ft." title="Nathan Parker flying the F/A-26B in VTOL VR during a mission" width={250} height={400} loading="eager" />
				<Image src={Homecoming_Car} class="prologue-image" alt="Nathan Parker during his Junior Year riding in the homecoming parade" title="Nathan Parker during his Junior Year riding in the homecoming parade" width={250} height={400} loading="eager" />
				<Image src={Pumpkin_Show} class="prologue-image" alt="Nathan Parker after winning the 2024 Versailles Pumpkin Show" title="Nathan Parker after winning the 2024 Versialls Pumpkin Show" width={250} height={400} loading="eager" />
				<Image src={Sunset_VTOL} class="prologue-image" alt="Nathan Parker playing VTOL VR new weather update" title="Nathan Parker playing VTOL VR new weather update" width={250} height={400} loading="eager" />
			</div>			
		</div>
	</div>

	<p class="about-text">As a student and individual on a continuous journey of curiosity, I'm the type of person with a <b>drive to constantly learn</b> from the world around me. With any bit of leisure time, I'll <i>most likely</i> allocate it towards school work and programming my future. I'm your typical computer geek with a <b>passion</b> for making things work for other people; seeing those people enjoy the end-product fuels this intense passion. So much so, that I quit playing baseball and dedicated my time to <i>creating things with code</i>. Nowadays, even video games have faded from my activities, to be transferred into learning and writing better programs.</p>
	<p class="about-text">To fulfill my <b>love</b> for computers, I accepted a pathway in <b>Software Development</b> that targeted and deepened my passion in pursuing the field as a dream job. <b>But</b>, I didn't randomly say one day <i>“oh I'm going to do that”</i> — a series of events had to occur before that conclusion was made back in 2021. That's where my father comes into the story, starting me off with consoles he grew up with and allowing me to <b>explore</b> and <b>expand</b> my curiosity as I grew: </p>
	<Timeline />
	<p class="about-text">Upon building such software, there is a <b>lot</b> that goes into the process. Even with small-scoped projects, I can never find the <b><i>“good enough”</i></b> balance to satisfy my wants for <i>my users</i> and <i>myself</i>. This is apparent when I look back on old software that I write, and is almost like the <b>driving force</b> towards the projects/software that I build. Even with teachers <b>reiterating</b> the fact, “you have to accept when a project is good enough, and just satisfies the needs required” is a common saying I can't seem to <b>settle</b> with. Another thing is the acceptance of <b>failure</b>, every time I tackle a new project, I'm always <i>going into the depths of the unknown</i>. Failure is a <b>key</b> part of what I do, and learning how to <i>tackle, accept, and learn</i> from such failures is what drives me into loving software development.</p>	
	<p class="about-text">Now, some developers go the self-taught route (<i>usually because of a multitude of reasons</i>) but I'm someone who <b>loves</b> the aspect of learning in a classroom environment with comprehensible projects to present my <b>understanding and knowledge building</b>. I know <i>not every course is structured as so</i>; <i>however</i>, I'm <b>committed</b> to going to a four-year-college to study a branch of computer science, <i>and thus</i>, these are the scholarly steps I've taken: </p>

	<div id="schools">
		<div class="school">
			<Icon class="school-logo" name="logos/tigers" width={124} height={124} />
			<div class="school-rundown">
				<h2 class="school-name">Lawrenceburg High School</h2>
				<p class="school-desc">As a <b>passionate</b> high school student, I've wanted to get the <i>most out of my experience</i> via the Software Development pathway. As such, in <b>2025</b> I'll graduate with an <Link href="https://www.in.gov/doe/files/core-40-and-honors-diploma-summary-class-2016-updated-june-2018.pdf" text="Indiana College Core 40 with Academic Honors" />, a <b><i>~</i>4.18 GPA</b>, placing around <b>top 12 in my class</b> of 182 (<i>top 6%</i>).</p>
			</div>
		</div>
		
		<div class="school">
			<Icon class="school-logo" name="logos/vincennes" width={124} height={124} />
			<div class="school-rundown">
				<h2 class="school-name">Vincennes University</h2>
				<p class="school-desc">To power the <Link href="https://www.in.gov/doe/files/core-40-and-honors-diploma-summary-class-2016-updated-june-2018.pdf" text="Indiana College Core 40 with Academic Honors" />, I took advanced classes like English 101-2, Speech 143, Art 110, Spanish I-III, and Biology 101L. With the main goal of <b>strengthening</b> the <i>foundational concepts</i> for my future and preparing myself for other four-year colleges across Indiana when I graduate.</p>
			</div>
		</div>

		<div class="school">
			<Icon class="school-logo" name="logos/ivytech" width={124} height={124} />
			<div class="school-rundown">
				<h2 class="school-name">Ivy Tech Community College</h2>
				<p class="school-desc">Regarding the <b><i>continuation</i></b> of the Software Development pathway, Ivy Tech powers my junior and senior years with <i>college experience and knowledge</i>. Letting me take classes like SDEV 153 ➔ SDEV 255, DBMS 110, and SDEV 148 ➔ SDEV 248. Ivy Tech provides <i>so much</i> for me, and <i>as such</i>, I've <b>committed</b> to getting an <Link href="https://catalog.ivytech.edu/preview_program.php?catoid=9&poid=7937&hl=%22Software+Development%22&returnto=search" text="AS in Software Development" /> by <b>2025</b>.</p>
			</div>
		</div>
		
		<!-- <div class="school">
			<Icon class="school-logo" name="logos/iu" width={124} height={124} />
			<div class="school-rundown">
				<h2 class="school-name">Indiana University Bloomington</h2>
				<p class="school-desc">For my <b>dream</b> university, the Department of Computer Science within Indiana University's <Link href="https://luddy.indiana.edu/index.html?_gl=1*h0p486*_ga*MTc1ODkzMzQyNC4xNzA4NTc0MDQ5*_ga_61CH0D2DQW*MTcwODY0OTU5MC41LjEuMTcwODY0OTU5NS41NS4wLjA." text="Luddy School of Informatics, Computing, and Engineering" /> piqued my interest for the next place of advancement in my education. Especially with their scope of their <Link href="https://cs.indiana.edu/programs/phd-computer-science.html" text="Ph.D. in Computer Science" /> with <i>specializations</i> in Software Engineering; <b>perfect</b> for expanding my scope in the realm of software development for <i>decades to come</i>.</p>
			</div>
		</div>		 -->
	</div>

	<p class="about-text"><i>Over the years</i>, technology has grown to be a <b>big part of my life</b> — from the <i>simplest consoles</i> to the <b>most complex computers</b>. In my dreams, I hope to make <b>big things happen</b> with the <b>teamwork of others</b>. <i>From fixing the bugs</i>, to <b>imagining the scope of the latest features</b>. Building the software of the <b>future</b> is something, <i>no matter what blocks the path</i>, brings me <b>joy unlike no other</b>. <i>Hopefully, one day</i>, I'll make those dreams of mine and others  — a <b>reality</b>. </p>

	<FAQ>
		<Question question="What's this site's purpose?">
			<p slot="answer" class="answer-text">This site's purpose is like my own little GitHub — not meant to be <i>taken seriously</i>. In an ideal world, <b>first</b> would come my resume, then my site to show all my work and <b>passion</b> for what I do. My site is <b>thousands of hours</b> of <i>research, building, testing, and failing to make something</i>, even if it gets no <b>public interaction</b>. <i>I'm not here for views</i> — <b>I'm here to make something</b>.</p>
		</Question>
		<Question question="What is the meaning/origin of 'KingPr0o7?'">
			<p slot="answer" class="answer-text">KingPr0o7, pronounced — / <Link href="http://ipa-reader.xyz/?text=k%C9%AA%C5%8Bpro%CA%8A%20o%CA%8A%20%CB%88s%C9%9Bv%C9%99n&voice=Joey" text="kɪŋproʊ oʊ ˈsɛvən" /> / was a handle for my Fortnite account back on <i>May 26, 2018</i>, and became my <b><i>go-to</i></b> handle for the internet. I wanted it to start with “King,” then my father added “Pro” because he thought it would suit and sound pretty nice. The rest was because “KingPro” was taken, so extras were added: birth year and variation to get a unique one. I find it funny when streamers stop for a second to process how to go about its pronunciation and often say “King Pr- Zero <i>Oh</i> Seven,” but <i>other than that</i>, my handle has <b>no</b> hidden meaning <b>unless added otherwise</b>.</p>
		</Question>
		<Question question="Who inspires you?">
			<p slot="answer" class="answer-text">After thinking and switching from <i>person to person</i>, I've realized that there is <b>no</b> <i>one</i> person that inspires me. But <i>instead</i>, the <b>whole</b> tech community <i>again and again</i> never ceases to amaze me. From creating spectacular programs, videos, and experiences, some of these people are just <b>too good</b>. Here are a few examples of outstanding people: <Link href="https://twitter.com/juxtopposed" text="@juxtopposed" />, <Link href="https://twitter.com/MKBHD" text="@MKBHD" />, <Link href="https://twitter.com/fireship_dev" text="@fireship_dev" />, <Link href="https://twitter.com/michaelreeves" text="@michaelreeves" />, <Link href="https://twitter.com/PirateSoftware" text="@PirateSoftware" />, <Link href="https://twitter.com/thiojoe" text="@ThioJoe" />, <Link href="https://twitter.com/KevinJPowell" text="@KevinJPowell" /> and many more.</p>
		</Question>
		<Question question="Are you the type of guy to hack my Wi-Fi / fix my printer?">
			<p slot="answer" class="answer-text">It's true that I'm interested in <b>all forms of technology</b>, but the world of IoT is a subset of technology I choose <b>not to further my interest in</b>. While I have '<i>hacked</i>' my school's staff Wi-Fi network; <b><i>several times</i></b>, and have been known to fix printers, that's just something <b>I don't want to be known for</b>. I'm no Linux guru, nor do I have any foundational or advanced skills to do such on the daily. <i>However</i>, starting out in IT has been a <b>great way</b> to build my knowledge as from my time volunteering for my school's IT department!</p>
		</Question>
		<Question question="How can I support you?">
			<p slot="answer" class="answer-text"><b>Thank you</b> for your interest in me, I'm just a kid <b>chasing his dream</b>, and <i>just viewing my work</i> on <Link href="https://twitter.com/KingPr0o7" text="Twitter" /> and my site fuels me tenfold. <i>However</i>, if you want to <i>extend</i> your support, consider being a <Link href="https://github.com/sponsors/KingPr0o7?frequency=recurring&sponsor=KingPr0o7" text="GitHub Sponsor" />! It allows for <b>multiple donation amounts</b> to fit what you think I deserve! All earnings <b>go straight towards my degree in computer science</b> (<i>gotta pay that student loan somehow</i>)! <br><br>And <i>if you're reading this</i>, I would like to say <b>thank you</b>. People <b><i><u>like you</u></i></b>, I cherish <b>every</b> — <b>single</b> — <b>day</b>. All support <b>fuels my dream</b> in becoming a software developer. It wouldn't be possible without <b><i><u>you</u></i></b>! <br><br><b>Love</b>,<br>Nathan.</b></p>
		</Question>
	</FAQ>
</Layout>

<style>
#prologue {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 50px;
}

	#prologue-quote {
		padding: 25px 0;
		font-weight: normal;
		text-align: center;
		font-size: clamp(1.3rem, 4vw, 3.5rem);
		width: 100%;
	}

		/* Credit to Coding with Robby: https://www.youtube.com/watch?v=nAjR0Oj0J8E */
		#prologue-images {
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
			max-width: 1450px;
			position: relative;
			height: fit-content;
		}

			#prologue-images::before, #prologue-images::after {
				position: absolute;
				content: " ";
				top: 0;
				width: 250px;
				height: 100%;	
				z-index: 2;							
			}

			#prologue-images:before {
				left: 0;
				background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--background));
			}

			#prologue-images:after {
				right: 0;
				background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--background));
			}

			.prologue-scroller {
				display: inline-block;
				animation: prologue-image-scroll 20s linear infinite;
			}

			.prologue-image {
				width: 250px;
				height: 400px;
				margin: 0 25px;
				border-radius: var(--secondary-border-radius);
				background-color: var(--gray);
				box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.6);
			}

			.prologue-image:nth-child(odd) { margin-bottom: 50px; }

.about-text {
	font-size: clamp(1rem, 1.5vw, 1.8rem);
	line-height: clamp(1.8rem, 9vw, 2.5rem);
	width: 75%;
}

#schools {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 50px;
	width: 75%;
}

	.school {
		display: flex;
		align-items: center;
		gap: 50px;
	}

		.school-logo {
			width: 124px;
			height: 124px;
			overflow: visible;
		}

		.school-rundown {
			display: flex;
			flex-direction: column;
			gap: 12.5px;
		}

			.school-name { font-size: clamp(1.5rem, 2vw, 2.5rem); }

			.school-desc {
				font-size: clamp(1rem, 1.5vw, 1.8rem);
				line-height: clamp(1.8rem, 9vw, 2.5rem);
			}

@keyframes prologue-image-scroll {
	from { transform: translateX(0); }
	to { transform: translateX(-99.9999%); }
}

@media (max-width: 1500px) {
	.prologue-image { width: 200px; height: 350px; }
}

@media (max-width: 1200px) {
	#prologue-images { padding-bottom: 0; }
	.prologue-text { width: 90%; }
}

@media (max-width: 1000px) {
	#prologue-quote { padding: 25px; }
	.about-text, #schools { width: 100%; }
}

@media (max-width: 700px) {
	#prologue-quote-break { display: none; }
	.prologue-scroller { animation: prologue-image-scroll 40s linear infinite; }
	#prologue-images::before, #prologue-images::after { width: 50px; }

	.school {
		flex-direction: column;
		text-align: center;
		gap: 25px;
	}
}
</style>