---
import Layout from '@layouts/Layout.astro';
import BlogPost from '@components/Blog-post.astro';
import BlogBanner from '@components/Blog-banner.astro';
import Test from '@public/covers/test.webp';

import { getCollection } from 'astro:content';
const blogs = await getCollection('blog');
---

<Layout title="Blogs" description="Discover Nathan Parker (KingPr0o7)'s passion in his portfolio—cutting-edge projects, blogs, and the story of a developer's creative journey." image="test.webp" section_class='blogs-section'>
	<div id="blogs-section">
		<div id="blogs">
			<BlogBanner link='/test' thumbnail={Test.src} thumbnail_alt='...' title='YYoo it is king here today' tone="Test" date="December 10, 2023"/>
			{blogs.map(blog => (
				<BlogPost link={`/blog/${blog.slug}`} thumbnail={blog.data.thumbnail} thumbnail_alt={blog.data.thumbnail_alt} title={blog.data.title} />
			))}
		</div>
	</div>
</Layout>
<style>
#blogs {
	padding-top: 25px;
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

@media (max-width: 1000px) {
	#blogs { padding: 0; }
}
</style>
