---
import Layout from '@layouts/Layout.astro';
import BlogPost from '@components/Blog-post.astro';
import BlogBanner from '@components/Blog-banner.astro';
import Test from '@public/covers/test.webp';

import { getCollection } from 'astro:content';
const blogs = await getCollection('blog');
---

<Layout title="Blogs" description="A centralized platform of Nathan Parker's (KingPr0o7) thoughts across a spectrum of subjects within the technology space." image="blogs.png" section_class='blogs-section'>
	<div id="blogs-section">
		<div id="blogs">
			{blogs.map((blog, index) => {
				return index === 0 ? (
					<BlogBanner link={`/blog/${blog.slug}`} thumbnail={`/covers/${blog.data.thumbnail}`} thumbnail_alt={blog.data.thumbnail_alt} title={blog.data.title} tone={blog.data.tone || "Default tone"}  date={blog.data.date} />
				) : (
					<BlogPost link={`/blog/${blog.slug}`} thumbnail={`/covers/${blog.data.thumbnail}`} thumbnail_alt={blog.data.thumbnail_alt} title={blog.data.title} />
				);
			})}
		</div>
	</div>
</Layout>
<style>
#blogs {
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
	padding: 25px 0;
}

@media (max-width: 1000px) {
	#blogs { padding: 0; }
}
</style>