---
import Layout from '@layouts/Layout.astro';
import { Image } from "astro:assets";
import Button from '@src/components/Button.astro';

import Me from '@personal/me-no-bg.png';
import Ryan from "@people/ryan_russell.png";
import Null from "@people/person_null.png";
import Talon from "@people/talon_nicholson.png";
import Sunset_Cruise from "@personal/sunset-cruise.png";
import Windy_Hug from "@personal/winders.png";
import Amber_Cove from "@personal/amber-cove.png";
import ShowcaseProject from '@src/components/Showcase-project.astro';
import Quote from '@src/components/Quote.astro';
---

<Layout title="Nathan Parker" description="Discover Nathan Parker (KingPr0o7)'s passion in his portfolio—cutting-edge projects, blogs, and the story of a developer's creative journey." image="test.webp">
	<section id="intro">
		<div id="intro-text">
			<span id="intro-title">A Software Developer</span>
			<h1 id="intro-header">WORKING TOWARDS<br>BUILDING YOUR <span class="accent">DREAMS</span></h1> 
		</div>
		<Image src={Me} id="intro-image" alt="Picture of Nathan Parker during High School Homecoming (Crowned)" width={750} height={750} loading="eager" />
	</section>
	
	<div id="all-sections">
		<section id="projects-showcase">
			<h2 id="projects-showcase-title">What Do I Have to Prove My Efforts?</h2>
			<div id="projects">
				<ShowcaseProject video_link="https://www.youtube.com/embed/Ou4IJQcHsRI?si=CbqDt75V0rENLho_&amp;start=923", video_title="Stoichify — The Stoichiometry Solver", project_title="Stoichify", project_desc="A Python-powered GUI application designed to solve stoichiometric equations, by breaking down each step as you would write them on a piece of paper. Stoichify is open-source and aimed at chemistry students and teachers to learn and better their experience with the daunting complexity of stoichiometry." github_link="https://github.com/KingPr0o7/Stoichify" />
				<ShowcaseProject video_link="https://www.youtube-nocookie.com/embed/ugOqfEaemrY?si=kJdhY4JdOxubeQPX&amp;start=746", video_title="The Combo Menu Project", project_title="Combo Menu", project_desc="A chat-styled web application that allows users to make orders to a virtual restaurant. Built with Flask as it was a requirement for the computer science final upon this project was built. Also, incorporating defensive programming to make sure the user's orders will be fulfilled correctly." website_link="https://combo-menu.vercel.app/" github_link="https://github.com/KingPr0o7/Combo-Menu" />
			</div>
		</section>
	
		<section id="insight">
			<div id="insight-left">
				<h2 id="insight-title">So, Who Am I?</h2>
				<p id="insight-desc">I am Nathan Parker, <i>commonly referred to as</i> KingPr0o7 on the World Wide Web. I'm the type of person that absolutely <b>loves</b> to tinker with the modern world of technology, and constantly trying to make the <b>next big thing</b>. </p>
				<Button link="/about" text="Read The Whole Story" size={50}>
			</div>
			<div id="insight-right">
				<Image src={Windy_Hug} class="insight-image" id="shades-image" alt="Nathan Parker hugging Windy (Nathan's Cat)" width={250} height={400} />
				<Image src={Sunset_Cruise} class="insight-image" id="sunset-image" alt="Nathan Parker in the middle of the Bahamas during a sunset." width={250} height={400} />
				<Image src={Amber_Cove} class="insight-image" id="amber-image" alt="Nathan Parker with the backdrop of Amber Cove." width={250} height={400} />
			</div>
		</section>
	
		<section id="testimonials">
			<h2 id="testimonials-header">How Are My Efforts Perceived?</h2>
			<div id="quotes">
				<Quote portrait={Ryan} name="S. Ryan Russell" top_credientials="Master of Information Technology" quote="Nathan is one of the hardest working and creative software development students that I have seen. His computing logic, database, website and software development projects were always a magnitude higher than required for the courses, but still worked and looked professional to boot. I look forward to his eventual successful software startup someday." />
				<Quote portrait={Talon} name="Talon Nicholson" top_credientials="Former Colleague" quote="As a former colleague, and a long-standing personal acquaintance, I can confidently say that Nathan doesn't just code applications, but crafts experiences. If you're seeking a developer who can combine technical expertise with visionary thinking, you've found your guy!" />
				<Quote portrait={Null} name="Zane White" top_credientials="Former Computer Science Teacher" quote="Nathan came into our Principles of Computers class where we introduce basic coding and web design and made an immediate impression on me. It was very obvious from the beginning that Nathan had a passion, and talent for anything that dealt with coding and design. He produced multi-page websites as well as going above and beyond each lesson that dealt with JavaScript work. Nathan was leader in class. Students were drawn to him for help and he was happy to do so. Nathan Parker is one of the more talented students I have had in my career." />
			</div>
		</section>	
	</div>	
</Layout>
<style>
#all-sections {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 100px;
	height: fit-content;
}

#intro {
	height: 100vh;
	max-height: calc(1080px - 70px);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

	#intro-text {
		position: relative;
		top: 60px;
		top: clamp(30px, 5vh, 60px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

		#intro-title {
			text-align: center;
			width: 100%;
			font-size: clamp(1rem, 4vw, 3.5rem);
			font-style: italic;
			color: var(--text-secondary);
			font-weight: 200;
		}
		
		#intro-header {
			font-size: clamp(1.3rem, 5vw, 5rem);
			width: 100%;
			text-align: center;
		}

	#intro-image {
		position: relative;
		min-height: 350px;
		height: clamp(350px, 65vw, 750px);
		max-height: 750px;
		-o-object-fit: contain;
		object-fit: contain;
		mask: linear-gradient(var(--background), 80%, transparent);
	}

#projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

	#projects-showcase-title {
		font-size: clamp(1.4rem, 3vw, 2.8rem);
		font-weight: bold;
		text-align: center;
		padding: 50px 0;
	}

#insight {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

	#insight-left {
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 45%;
	}

		#insight-title { font-size: clamp(1.4rem, 3vw, 3.5rem) }
		#insight-desc { font-size: clamp(1rem, 1.8vw, 1.8rem) }

	#insight-right {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
	}

		#shades-image { transform: rotate(-15deg) translateX(85px) translateY(35px) scale(0.80); }

		#sunset-image {
			z-index: 2;
			transform: scale(1);
			box-shadow: 20px 20px 27.5px rgba(0, 0, 0, 0.50);
		}

		#amber-image { transform: rotate(15deg) translateX(-85px) translateY(35px) scale(0.80) }

#quotes {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

	#testimonials-header {
		font-size: clamp(1.4rem, 3vw, 2.8rem);
		font-weight: bold;
		text-align: center;
		padding: 0 0 50px 0;
	}

@media (max-width: 1300px) {
	#intro-section {
		height: 65vh;
		min-height: 65vh;
		padding-top: 0px;
		min-height: fit-content;
		height: fit-content;
	}

	#intro { justify-content: space-around; }

		.insight-image {
			width: 200px;
			height: 320px;
		}
}

@media (max-width: 1000px) {
	:global(footer), #projects-showcase, #insight, #testimonials {
		position: relative;
		top: -100px;	
	}

	#intro {
		padding-top: 25px;
		flex-direction: column-reverse;
		justify-content: flex-end;
		gap: 25px;
		height: fit-content;
	}

		/* Overlapping text onto myself */
		#intro-text {
			top: -90px;
			z-index: 2;
		}

		#intro-header { font-size: clamp(1.3rem, 6.4vw, 5rem); }
		#intro-image { 
			width: 100%;
			height: clamp(350px, 100vw, 650px); 
		}

	#showcase-projects {
		padding: 0;
		position: relative;
		top: -50px;
	}

		#showcase-projects-title { padding: 25px 0; }

	#insight {
		flex-direction: column-reverse;
		gap: 50px;
	}

	#insight-left {
		width: 80%;
		align-items: center;
	}

		#insight-desc { text-align: center }

	#testimonials-header {
		padding: 25px 0
	}
}

@media (max-width: 500px) {
	.insight-image {
		width: 175px;
		height: 280px;
	}
}

@media (max-width: 400px) {
	.insight-image {
		width: 150px;
		height: 240px;
	}

	#insight-left {
		width: 100%;
	}
}

@media (max-width: 300px) {
	.insight-image {
		width: 125px;
		height: 200px;
	}
}
</style>