---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'
import Button from "./Button.astro";

import Logo from "@images/branding/ncp_icon_white.png"
---

<nav class="navbar" data-navlist="semi" transition:persist="navbar">
	<div class="navbar-container">
		<div class="navbar-left">
			<a href="/">
				<Image src={Logo} alt="Nathan Parker's (N) Logo" width={48} height={48} />
			</a>
		</div>
		<div class="navbar-middle">
			<a class="navbar-link" href="./">
				<Image src={Logo} class="navbar-image" alt="Nathan Parker's N Logo" width={32} height={32} />
				<p class="navbar-link-text">Home</p>
			</a>
			<a class="navbar-link" href="/about">
				<Icon name="about" class="navbar-image" width={32} height={32} />
				<p class="navbar-link-text">About</p>
			</a>
			<a class="navbar-link" href="/projects">
				<Icon name="project" class="navbar-image" width={32} height={32} />
				<p class="navbar-link-text">Projects</p>
			</a>
			<a class="navbar-link" href="/blogs">
				<p class="navbar-link-text">Blogs</p>
			</a>

			<div class="navbar-link" id="mobile-hamburger-parent" tabindex="0">
				<span class="mobile-hamburger" data-state="closed">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
				<p class="navbar-link-text">More</p>
			</div>
		</div>
		<div class="navbar-right">
			<Button link="/contact" text="Contact" size={20} />
		</div> 
	</div>
</nav>

<nav class="mobile-navlist" transition:persist="navlist">
	<a class="navbar-link" href="/contact">
		<Icon name="contact" class="navbar-image" width={32} height={32} />
		<p class="navbar-link-text">Contact</p>
	</a>

	<a class="navbar-link" href="/blogs">
		<Icon name="blog" class="navbar-image" width={32} height={32} />
		<p class="navbar-link-text">Blogs</p>
	</a>	

	<a class="navbar-link" href="/projects">
		<Icon name="project" class="navbar-image" width={32} height={32} />
		<p class="navbar-link-text">Projects</p>
	</a>
</nav>
<style>
.navbar {
	position: fixed;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: var(--background);
}

	.navbar-container {
		position: relative;
		display: flex;
		align-items: center;	
		justify-content: space-between;	
		width: var(--max-width);
		height: 100%;
		padding: 0 50px;
		max-width: var(--max-width);
		overflow: hidden;
	}

		.navbar-middle {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
			font-size: clamp(1.2rem, 2vw, 1.5rem);
			height: 100%;
			width: fit-content;
			overflow: visible;
			padding-left: 48px;
		}

			.navbar-link { 
				position: relative;
				padding: 0 40px;
				display: flex;
				align-items: center;				
				text-decoration: none; 
				height: 100%;
				cursor: pointer;
			}

				.navbar-link[data-toggled="true"] > .navbar-link-text { color: var(--accent); }
				.navbar-link[data-toggled="true"] > .navbar-image { color: var(--accent); }

				.navbar-link:nth-child(1) { display: none; } /* Navlist Home Link */
				.navbar-link:nth-child(5) { display: none; } /* Hamburger Menu */

				.navbar-link:hover > .navbar-link-text:not(#mobile-hamburger-parent > .navbar-link-text):not(.navbar-link[href='./'] > .navbar-link-text), 
				.navbar-link:focus > .navbar-link-text:not(#mobile-hamburger-parent > .navbar-link-text):not(.navbar-link[href='./'] > .navbar-link-text) { 
					color: var(--accent); 
				}
				
					.navbar-link-text { font-size: clamp(1rem, 2vw, 1.5rem); width: fit-content; }

					.navbar-image {
						width: 32px;
						height: 32px;
						color: var(--text);
					}

				/* Navbar link selector - Credit to: Kevin Powell (Credits Page) */
				.navbar-middle::after {
					position: absolute;
					content: "";
					bottom: 0;
					left: 0;
					right: 0;
					height: 1px;
					scale: var(--_width, 0) 1;
					translate: var(--_left, 0px) 0;
					transform-origin: left;
					background: var(--accent);
					transition: scale 450ms, translate 450ms; /* Control the speed of the underline */
					transition-delay: 100ms;
				}

			.mobile-hamburger {
				display: none;
				padding-top: 2px;
				height: 32px;
				width: 32px;
				flex-direction: column;
				justify-content: space-between;
				animation: appear 2.2s ease;		
				gap: 12px;		
			}
				
				.bar {
					width: 100%;
					height: 2px;
					border-radius: var(--main-border-radius);
					background-color: white;
					transition: all 0.9s;					
				}
				
					/* Hamburger Menu Animation */
					.mobile-hamburger[data-state="open"] > .bar:nth-child(1) {
						transform: rotate(-45deg) translate(-10px, 10px);
						transition: all 0.9s;
					}
				
					.mobile-hamburger[data-state="open"] > .bar:nth-child(2) {
						transform: rotate(45deg);
						transition: all 0.9s;
					}
				
					.mobile-hamburger[data-state="open"] > .bar:nth-child(3) {
						opacity: 0;
						transition: opacity 0.9s;
					}
				
						.mobile-hamburger[data-state="open"], .mobile-hamburger[data-state="closed"] .bar:nth-child(3) {
							opacity: 1;
							transition: opacity 0.9s;
						}

		.navbar-container::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			transform: scaleX(var(--_width, 0)) translateX(var(--_left, 0px));
			transform-origin: left;
			background: var(--accent);
		}

			/* Navbar Loading Animations */

			.navbar-container.loading-forward::after { animation: load-forward 2.5s linear infinite; }
			.navbar-container.loading-backward::after { animation: load-backward 2.5s linear infinite; }

			@keyframes load-forward {
				0% { transform: scaleX(0.15) translateX(-100%); }
				100% { transform: scaleX(0.15) translateX(1100%); }
			}

			@keyframes load-backward {
				0% { transform: scaleX(0.15) translateX(1100%); }
				100% { transform: scaleX(0.15) translateX(-100%); }	
			}

			/* Disables Navbar Line when Navlist is Open */
			.navbar[data-navlist="true"] .navbar-container::after { height: 0px; }

  	/* Navbar Line */
	nav::after {
		background: radial-gradient(50% 100% at 50% 100%, var(--gray) 0%, var(--background) 100%); /* Change from transparent to var(--background) to change loading indicator disappearing behavior*/
		bottom: 0;
		content: "";
		height: 2px;
		position: absolute;
		width: 100%;
		max-width: var(--max-width);    
		transition: height 250ms ease;
	}

		/* Hides navbar line when navlist is open */
		.navbar[data-navlist="true"]::after { height: 0px; }

.mobile-navlist { 
	padding-bottom: 70px;
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 300px;
	top: 1000vh;
	background-color: var(--background);
	transition: top 1s ease;
}

	/* Animates the navlist downwards instead of just disappearing */
	nav[data-navlist="false"] ~ .mobile-navlist { top: calc(200dvh - 300px); }
	.mobile-navlist > .navbar-link:last-child { display: none; }

@media (min-width: 1000px) {
	.navbar-image { display: none; }
}

@media (max-width: 1000px) {
	/* Navbar */
	.navbar { top: calc(100dvh - 70px); } /* Moves navbar to bottom of dvh (Dynamic Viewport Height - Safari Toolbar) */

		.navbar::after { top: 0; }

		.navbar-container {
			padding: 0;
			width: 100%;
		}

			nav::after {
				background: radial-gradient(50% 100% at 50% 100%, var(--gray) 0%, var(--gray) 100%) !important;
			}

			.navbar-container::after { top: 0; }
			.navbar-left { display: none; }

			.navbar-middle {
				justify-content: space-around;
				width: 100%;
				padding-left: 0;
				gap: 0;
			}

				/* Switching to image based navbar-links */
				.navbar-link {
					flex-direction: column;
					justify-content: center;
					gap: 5px;
				}

				.navbar-link:nth-child(1) {display: flex;} /* Displays Home Link */
				.navbar-link:nth-child(4) {display: none;} /* Hides Contact Button Link */
				.navbar-link:nth-child(5) {display: flex;} /* Displays Hamburger Menu */

					.navbar-image {
						width: 24px;
						height: 24px;
					}

				.navbar-middle::after { top: 1px; } /* Moves navbar line to top due to navbar being on the bottom */

				.mobile-hamburger {
					display: flex;
					opacity: 1;
					width: 24px;
					height: 24px;
					gap: 8px;
				}
		
					.mobile-hamburger[data-state="open"] > .bar:nth-child(1) {
						transform: rotate(-45deg) translate(-7px, 7px);
						transition: all 0.9s;
					}

			.navbar-right { display: none; }		

	/* Removes blur when navlist is open */
	.navbar[data-navlist="true"] { animation: remove-navbar-bg-blur 0.4s ease; }

	/* Enables + Animates the navlist */
	.navbar[data-navlist="true"] ~ .mobile-navlist {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		top: calc(100dvh - 300px);
		animation: navlist-appear 0.4s ease;
	}

		/* Readjusts navbar line to be at the top of the navlist */
		.mobile-navlist::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: radial-gradient(50% 100% at 50% 100%,rgba(255,255,255,.12) 0%,rgba(255,255,255,0) 100%);
		}
	
		.mobile-navlist > .navbar-link {
			display: flex;
			justify-content: flex-end;
			flex-direction: row;
			width: 100%;
		}

}

@media (max-width: 500px) {
	.navbar-container { padding: 0; }
	.navbar-link { padding: 0 25px; }
}

@media (max-width: 380px) {
	.navbar-middle > .navbar-link:nth-child(3) {display: none;} /* Hides Projects Link */
	.mobile-navlist > .navbar-link:last-child { display: flex; }
}

@keyframes navlist-appear {
	from { top: calc(200dvh - 300px);}
	to { top: calc(100dvh - 300px);}
}	
</style>
<script>
	import { loading } from 'astro-vtbot/components/loading-indicator';

	const navbar: HTMLElement = document.querySelector(".navbar")!;
	const navbar_container: HTMLElement = document.querySelector(".navbar-container")!;
	const hamburger_parent: HTMLElement = document.getElementById('mobile-hamburger-parent')!;
	const hamburger: HTMLElement = document.querySelector('.mobile-hamburger')!;
	const navbar_middle: HTMLElement = document.querySelector(".navbar-middle")!;
	const navbar_middle_left: number = -475;
	const navbar_middle_right: number = 1000;
	const navbar_middle_width: number = 0;

	hamburger_parent.addEventListener('click', () => {
		let state = hamburger.getAttribute('data-state');
		state === "closed" ? changeNav("true") : changeNav("false");
	});
	
	function changeNav(state: string) {
		let is_open = state === "true";
		
		hamburger.setAttribute('data-state', is_open ? "open" : "closed");
		navbar.setAttribute('data-navlist', is_open ? "true" : "false");
	}
	
	function set_navbar_middle(left: number, width: number) {
		navbar_middle.style.setProperty("--_left", left + "px");
		navbar_middle.style.setProperty("--_width", width.toString());
	}
	
	function switchTab(event: { target: HTMLElement }) {
		let newTab = event.target;
		newTab.tagName != "A" ? newTab = newTab.parentElement : null;
		document.querySelectorAll(".navbar-link").forEach((tab) => tab.removeAttribute("data-toggled"));

		if (newTab.id === "mobile-hamburger-parent") {
			newTab.removeAttribute("data-toggled");
		} else {
			newTab.setAttribute("data-toggled", "true");

			if (newTab.parentElement.className !== "mobile-navlist") {
				let newTabWidth = newTab.offsetWidth / navbar_middle.offsetWidth;
				set_navbar_middle(newTab.offsetLeft, newTabWidth);
			} else {
				set_navbar_middle(navbar_middle_right, navbar_middle_width);
			}
		}
	}

	//
	// Blog Scroll Progress
	//

	function scrollProgress() {
		const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
		const height = document.documentElement.scrollHeight - document.documentElement.clientHeight - document.querySelector("footer").clientHeight;
		const scrolled = (winScroll / height) * 100;
		let halfScrolled = scrolled / 2;
		navbar_container.style.setProperty("--_left", (50 - halfScrolled) * (window.innerWidth / document.documentElement.clientWidth) + "%");
		navbar_container.style.setProperty("--_width", scrolled * (window.innerWidth / document.documentElement.clientWidth) + "%");
	}

	window.onscroll = function() { 
		let pathname = window.location.pathname;
		pathname.startsWith("/blog/") ? scrollProgress() : null;
	};

	//
	// Ensure Underline is Set Correctly when Resizing
	// 

	window.addEventListener('resize', () => {
		if (document.querySelector(".navbar-link[data-toggled='true']")) {
			let tab = getTab(location.pathname);
			switchTab({target: tab})
		}
	});

	//
	// Loading Animation
	//

	loading(show, hide);
	var loading_trigger_threshold = null;
	var animation_set_direction = ''

	function show() {
		loading_trigger_threshold = setTimeout(() => {
			let direction = sessionStorage.getItem('direction');
			animation_set_direction = `loading-${direction}`
			// console.log(direction);
			// console.log('Loading!');

			if (direction === "forward") {
				navbar_middle.style.setProperty("--_left", 200 + "%");
			} else {
				navbar_middle.style.setProperty("--_left", -100 + "%");
			}

			navbar_middle.style.setProperty("--_width", 0 + "%");

			navbar_container.classList.add(`loading-${direction}`);
		}, 1900);
	}

	function hide() {
		clearTimeout(loading_trigger_threshold);
		if (animation_set_direction !== '') {
			navbar_container.classList.remove(animation_set_direction);
		}
		// console.log('Loaded');
	}

	//
	// Page Loading Underline Switch + Ensurement
	//

	function getTab(href: string) {
		let element = document.querySelector(`.navbar-link[href='${href}']`);
		let style = window.getComputedStyle(element);

		if (style.display === "none" === true) {
			return document.querySelectorAll(`.navbar-link[href='${href}']`)[1] as HTMLElement;
		} else {
			return document.querySelector(`.navbar-link[href='${href}']`) as HTMLElement;
		}		
	} 

	document.addEventListener('astro:page-load', () => {
		let pathname = location.pathname;
		set_navbar_middle(navbar_middle_left, navbar_middle_width);
		let paths = ["/about", "/projects", "/blogs"];
		!paths.includes(pathname) ? document.querySelectorAll('.navbar-link').forEach(el => el.removeAttribute('data-toggled')) : null;
		let toggled_tab = document.querySelector(".navbar-link[data-toggled='true']");

		if ((pathname === "/" || pathname === "/contact")) {
			toggled_tab ? toggled_tab.removeAttribute("data-toggled") : null;
			if (pathname === "/contact") {
				set_navbar_middle(navbar_middle_right, navbar_middle_width);
				switchTab({ target: document.querySelector(".navbar-link[href='/contact']")});
			} else {
				set_navbar_middle(navbar_middle_left, navbar_middle_width);
			}
		} else if (paths.includes(pathname)) {
			let tab = getTab(pathname)
			switchTab({ target: tab });
			console.log(pathname);
		}
	
		navbar.setAttribute('data-navlist', "false");
		hamburger_parent.setAttribute('data-state', "closed");
		hamburger.setAttribute('data-state', "closed");
	
		navbar_container.style.setProperty("--_left", 0 + "%");
		navbar_container.style.setProperty("--_width", 0 + "%");

	}, { once: false });	
</script>