---
import { Image } from "astro:assets";
import Logo from "../images/branding/ncp_icon_white.png"
import About_Icon from "../images/icons/about.svg"
import Project_Icon from "../images/icons/project.svg"
---

<nav class="navbar">
	<div class="navbar-container">
		<div class="navbar-left">
			<a href="./">
				<Image src={Logo} alt="Nathan Parker's (N) Logo" width={48} height={48} />
			</a>
		</div>
		<div class="navbar-middle" transition:persist>
			<a class="navbar-link" href="./">
				<Image src={Logo} class="navbar-image" alt="Nathan Parker's N Logo" width={32} height={32} />
				<p class="navbar-link-text">Home</p>
			</a>
			<a class="navbar-link" href="/about">
				<Image src={About_Icon} class="navbar-image" alt="About Page Icon (Person Outline)" width={32} height={32} />
				<p class="navbar-link-text">About</p>
			</a>
			<a class="navbar-link" href="/projects">
				<Image src={Project_Icon} class="navbar-image" alt="Projects Page Icon (Book with Bookmark)" width={32} height={32} />
				<p class="navbar-link-text">Projects</p>
			</a>
			<a class="navbar-link" href="/blogs">
				<p class="navbar-link-text">Blogs</p>
			</a>

			<div class="navbar-link" id="mobile-hamburger-parent" tabindex="0">
				<span class="mobile-hamburger" data-state="closed">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
				<p class="navbar-link-text">More</p>
			</div>
		</div>
		<div class="navbar-right">
			<a class="button" href="/contact">Contact</a>
		</div>
	</div>
</nav>
<script lang="js">
// const navbarElements = document.querySelectorAll(".navbar-link");	
const hamburger_parent = document.getElementById('mobile-hamburger-parent');
const hamburger = document.querySelector('.mobile-hamburger');
const navbar_middle = document.querySelector(".navbar-middle");

function changeNav(state) {
	// switchTab({target: navbarElements[4]});

	if (state == "Enabled") {
		// Hamburger
		hamburger.removeAttribute('data-state', "closed");
		hamburger.setAttribute('data-state', "open");

		// Navlist
		// navbar.removeAttribute('navlist-staging', "");
		// navbar.setAttribute('navlist', "");
	} else if (state == "Disabled") {
		// Hamburger
		hamburger.removeAttribute('data-state', "open");
		hamburger.setAttribute('data-state', "closed");

		// Navlist
		// navbar.removeAttribute('navlist', "");
		// navbar.setAttribute('navlist-staging', "");
	}
}

// Hamburger Event Listeners
if (hamburger_parent) {
	hamburger_parent.addEventListener('click', () => hamburger.getAttribute('data-state') === "closed" ? changeNav("Enabled") : changeNav("Disabled"));
	hamburger_parent.addEventListener('keydown', function(event) {
		if (event.key == 'Enter') {
			hamburger.getAttribute("data-state") === "closed" ? changeNav("Enabled") : changeNav("Disabled");
		}
	});
}

function set_navbar_middle(left, width) {
	navbar_middle.style.setProperty("--_left", left + "px");
	navbar_middle.style.setProperty("--_width", width);
}

function switchTab(event) {
	let newTab = event.target;
	newTab.tagName != "A" ? newTab = newTab.parentElement : null;
	document.querySelectorAll(".navbar-link").forEach((tab) => tab.removeAttribute("data-toggled", "true"));

	if (newTab.id === "mobile-hamburger-parent") {
		newTab.removeAttribute("data-toggled", "true");
	} else {
		newTab.setAttribute("data-toggled", "true");
		let newTabWidth = newTab.offsetWidth / navbar_middle.offsetWidth;
		set_navbar_middle(newTab.offsetLeft, newTabWidth);
	}
}

window.addEventListener('resize', () => {
	if (document.querySelector(".navbar-link[data-toggled='true']")) {
		switchTab({target: document.querySelector(".navbar-link[data-toggled='true']")})
	}
});

document.addEventListener('astro:page-load', () => {
	set_navbar_middle(-475, 0);
	let paths = ["/about", "/projects", "/blogs"];
	let toggled_tab = document.querySelector(".navbar-link[data-toggled='true']");

	if ((location.pathname == "/" || location.pathname == "/contact")) {
		toggled_tab ? toggled_tab.removeAttribute("data-toggled", "true") : null;
		if (location.pathname == "/contact") {
			set_navbar_middle(1000, 0);
		} else {
			set_navbar_middle(-475, 0);
		}
	} else if (paths.includes(location.pathname)) {
		switchTab({target: document.querySelector(`.navbar-link[href='${location.pathname}']`)});
	}
}, { once: false });	
</script>