---
import { Image } from "astro:assets";
import NES from "@public/personal/super-mario-bros.png";
import PC_Mirroring from "@public/personal/city-car-driving.png";
import Space_Invaders from "@public/personal/space-invaders.png";
import Ninja_and_King from "@public/personal/ninja-and-king.png";
import First_Site from "@public/personal/first-site.png";

import Arrow_Left from "@icons/arrow-left.svg";
import Arrow_Right from "@icons/arrow-right.svg";
import Link from "./Link.astro";
---


<div id="timeline">
	<div id="timespan-wrapper">
		<button class="timespan-control" id="timespan-back"><Image src={Arrow_Left} alt="Arrow Left" width={32} height={32} /></button>
		<div id="timespan">
			<button class="moment">
				<div class="moment-year">
					<p>2012</p>
					<div class="moment-circle"></div>
				</div>
			</button>
	
			<div class="moment-line"></div>
	
			<button class="moment">
				<div class="moment-year">
					<p>2015</p>
					<div class="moment-circle"></div>
				</div>
			</button>
	
			<div class="moment-line"></div>
	
			<button class="moment">
				<div class="moment-year">
					<p>2018</p>
					<div class="moment-circle"></div>
				</div>
			</button>
	
			<div class="moment-line"></div>
	
			<button class="moment">
				<div class="moment-year">
					<p>2021</p>
					<div class="moment-circle"></div>
				</div>
			</button>
	
			<div class="moment-line"></div>
	
			<button class="moment">
				<div class="moment-year">
					<p>2023</p>
					<div class="moment-circle"></div>
				</div>
			</button>
		</div>
		<button class="timespan-control" id="timespan-forward"><Image src={Arrow_Right} alt="Arrow Right" width={32} height={32} /></button>
	</div>

	<div id="moment-container">
		<div class="moment-in-time" id="moment-2012">
			<div class="moment-wrapper">
				<h2 class="moment-title">The Super Mario Effect</h2>
				<p class="moment-desc">The start of my love for technology started when my father introduced me to his <i>first-ever console</i>, the <b>Nintendo Entertainment System</b> (NES). In which I experienced what Mark Rober coined, “<Link href="https://youtu.be/9vJRopau0g0?si=xLdkqZC8wTyGMRA-&t=218" text="The Super Mario Effect" />” starting a <b>chain reaction</b> for the love of gaming and the <b>growth of technology</b>. Going from the NES, GameCube, Wii, and then the Xbox 360. <i>Always</i> fine-tuning my mistakes to beat my brothers in Mario Kart Double Dash or save the Princess Peach from Bowser (<i>again</i>).</p>
			</div>
			<Image class="moment-image" src={NES} alt="Me (Nathan) in the middle playing Super Mario Bros, with my brothers on the left (Gavin) and right (Kai)" width="300" height="300" />
		</div>

		<div class="moment-in-time" id="moment-2015">
			<div class="moment-wrapper">
				<h2 class="moment-title">Appreciation of Technology</h2>
				<p class="moment-desc">For my 8th birthday, I was given my mother's old laptop that was used to propel her education during college. At the time, I was really inspired and admired the film <b>Back To The Future II</b>, and watched <b>many</b> YouTube videos about the car and film. So, my father installed a fresh copy of the game <Link href="https://store.steampowered.com/app/493490/City_Car_Driving/" text="City Car Driving Home Edition" />. Even going as far as downloading the modded Back To The Future cars for me to smack them into a concrete wall at <b>88 MPH</b> (no, I didn't travel back in time — <i><b>unfortunately</b></i>). <i>From this point forward</i>, I <b>always</b> found ways to <i>tweak and enhance</i> my experience with these devices, and <b>enjoyed every single second</b>.</p>
			</div>
			<Image class="moment-image" id="moment-images-2015" src={PC_Mirroring} alt="A series of images showing me using a Windows 7 laptop to mirror a game to the TV" width="300" height="300" />
		</div>

		<div class="moment-in-time" id="moment-2018">
			<div class="moment-wrapper">
				<h2 class="moment-title">The Spark for Programming</h2>
				<p class="moment-desc">In the spring months of 2018, I joined a local programming club at my library that taught an online programming language called <Link href="https://scratch.mit.edu/" text="Scratch" />. The day it started, sometime in early March, when I first connected the event block to the sprite's say block — <b>something clicked</b>. The sight of seeing something <i>come to life</i> from joining two blocks together left me in <b><i>awe</i></b> and <b>permanently stained</b> a desire to keep creating things, <b>especially for others</b>. <i>From that day onwards</i>, I've <b>dedicated</b> my passion towards the creation and maintenance of computer software.</p>
			</div>
			<Image class="moment-image" src={Space_Invaders} alt="My first ever coding game, Space 'Exvaders' (I couldn't spell lol)" width="300" height="300" />
		</div>

		<div class="moment-in-time" id="moment-2021">
			<div class="moment-wrapper">
				<h2 class="moment-title">Acceleration of Passions</h2>
				<p class="moment-desc">To enhance on the monumental interest arising from Scratch, my friend, <Link href="https://twitter.com/NotNinjaTalon?s=20" text="@NotNinjaTalon" />, introduced me to the world of Minehut's server platform. <i>I and Talon</i>, decided to pull the trigger and dedicate our summers making <b>two semi-successful servers</b> called <Link href="https://youtu.be/7FG3c8ZeEzY?si=zQTSGYcg2AdQek0Q&t=185" text="IslandNSky" /> and <Link href="https://www.youtube.com/watch?v=semPmIRgXFU" text="Premiums" />; gaining each around <b>75</b> <i>concurrent players</i> <b>daily</b> at their peaks. Once school started back up, I made the <b>pivotal leap</b> towards my education by accepting the <i>“Software Development”</i> pathway at my high school. Learning high-level programming from HTML, CSS, JS, and Python; <i>creating and maintaining</i> projects to present to my class for <b>all</b> to enjoy.</p>
			</div>
			<Image class="moment-image" id="moment-images-2021" src={Ninja_and_King} alt="A series of images showing, Minecraft server development (Premiums), my first HTML document, my first website, and my first game (Not stolen haha)" width="300" height="300" />
		</div>

		<div class="moment-in-time" id="moment-2023">
			<div class="moment-wrapper">
				<h2 class="moment-title">Building Knowledge</h2>
				<p class="moment-desc">After completing most of <b>Computer Science II</b> in high school, I decided I wanted to go back and tune my web development skills from <i>2021 and 2022</i>. And as thus such, I started development on <b>this site</b> (with a lot of prototyping) throughout the whole year. <i>However, and thankfully</i>, my high school had nothing beyond <b>Computer Science II</b>, which to continue the pathway led to <Link href="https://www.ivytech.edu/" text="Ivy Tech" /> being the next place for my studies. They're a community college in Indiana, and happened to start with <b>Website Development</b> — which was perfect for my situation and lead me to the <b>advancement</b> of my website making skills! </p>
			</div>
			<Image class="moment-image" id="moment-images-2023" src={First_Site} alt="A series of images showing, my revisting web dev, a vex robot I programmed, my first portfolio site, a computer science project (Combo Menu), and YouTube Plus, a work in progress extension. " width="300" height="300" />
		</div>
	</div>
</div>
<style>
#timeline {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 75%;
	overflow: hidden;
}

	#timespan-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
	}

		.timespan-control {
			display: none;
			background-color: var(--primary);
			border: none;
			border-radius: var(--secondary-border-radius);
			padding: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

	/* Enable the below comments to fix the outline error if people want it, you're welcome future Nathan :) */
		#timespan {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			gap: 25px;
			/* padding: 6px; */
			/* overflow: auto; */
			overflow: auto;
		}

			.moment {
				background: none;
				border: none;
				cursor: pointer;
				height: 64px;
				width: 64px;
			}

				.moment-year {
					height: 100%;
					display: flex;
					flex-direction: column;
					gap: 10px;
					align-items: center;
					font-size: 1.5rem;
					font-weight: bold;
				}

					.moment-circle {
						position: relative;
						width: 16px;
						height: 16px;
						outline-offset: 4px;
						outline: 2px solid var(--gray);
						border-radius: 50%;
					}	

						.moment-circle::before {
    						content: "";
    						position: absolute;
    						top: 0;
    						left: 0;
    						width: 100%;
    						height: 100%;
    						border-radius: 50%;
    						background-color: var(--accent);
    						transform: scale(0);
    						transition: transform 700ms;
						}		
					
							.moment-active .moment-circle::before { transform: scale(1); }


			.moment-line {
				content: " ";
				min-width: 100px;
				height: 2px;
				background: linear-gradient(to right, var(--primary) 50%, transparent 50%), var(--gray);
    			background-size: 200% 100%;
    			background-position: right;
    			transition: background-position 700ms ease-in-out;
			}	

				.moment-line-active { background-position: left; }

	#moment-container {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 25px;
		overflow: hidden;
	}

		.moment-in-time {
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		padding: 25px;
    		width: 100%;
			flex-shrink: 0;
    		height: 100%;
    		border-radius: var(--secondary-border-radius);
    		background-color: var(--gray);
    		overflow: hidden;
    		box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.6);
    		gap: 25px;
    		border-radius: var(--secondary-border-radius);
		}

			.moment-title {
				font-size: clamp(1.5rem, 2vw, 2rem);
				font-weight: 600;
				margin-bottom: 25px;
			}

			.moment-desc {
				font-size: clamp(0.9rem, 1.4vw, 1.25rem);
				line-height: 1.5;
			}

				.moment-image { border-radius: var(--secondary-border-radius); }

					#moment-images-2015 { animation: twenty-fifteen-images 25s infinite; }
					#moment-images-2021 { animation: twenty-one-images 25s infinite; }
					#moment-images-2023 { animation: twenty-three-images 25s infinite; }

@media (max-width: 1300px) {
	#timeline { width: 80%; }
	.moment-line { min-width: 60px; }
}

@media (max-width: 1000px) {
	#timeline { gap: 25px; }
	.timespan-control { display: block; }

	#timespan { 
		padding: 0 auto;
		justify-content: flex-start;
	}
	.moment-line { min-width: 200px; }

	.moment-in-time {
		flex-direction: column-reverse;
		text-align: center;
	}

		.moment-image {
			width: 400px;
			height: 400px;
		}
}


@media (max-width: 700px) {
	.moment-image {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 500px) {
	#timeline { width: 100%; }
	.moment-in-time { padding: 15px; }
	.moment-title { font-size: 1.5rem; }
	.moment-desc { font-size: 1rem; }
	.moment-image { width: 250px; height: 250px; }	
}

@media (max-width: 350px) {
	.moment-image {
		width: 200px;
		height: 200px;
	}

	.timespan-control { padding: 5px; }
}

@keyframes twenty-fifteen-images {
	50% { content: url('/personal/me-mirroring-pc.png');}
	100% { content: url('/personal/city-car-driving.png'); }
}

@keyframes twenty-one-images {
	20% { content: url('/personal/ninja-and-king.png'); }
	40% { content: url('/personal/king-premiums.png'); }
	60% { content: url('/personal/first-html.png'); }
	80% { content: url('/personal/mcds-project.png'); }
	100% { content: url('/personal/smbs-project.png'); }
}

@keyframes twenty-three-images {
	20% { content: url('/personal/first-site.png'); }
	40% { content: url('/personal/vex-robot.png'); }
	60% { content: url('/personal/first-portfolio.png'); }
	80% { content: url('/personal/combo-menu-site.png'); }
	100% { content: url('/personal/youtube-plus-demo.png'); }
}

</style>
<script is:inline>
	// Desktop Timeline
	var moments = Array.from(document.querySelectorAll('.moment'));
	var time = Array.from(document.querySelectorAll('.moment-line'));	

	// Mobile Timeline Controls
	var timespan_forward = document.getElementById('timespan-forward');
	var timespan_back = document.getElementById('timespan-back');
	
	var moment_container = document.getElementById('moment-container');
	var moment_in_time = Array.from(document.querySelectorAll('.moment-in-time'));

	// Set the first moment to active (2012)
	moments[0].classList.add('moment-active');

	// Remove the tabindex from the links (so the carousel doesn't scroll) in the moments except the first one
	// You're welcome screen readers / VIM / die-hard keyboard users :)
	for (let i = 1; i < moment_in_time.length; i++) {
		moment_in_time[i].querySelectorAll('.link').forEach((link) => {
			link.tabIndex = -1;
		});
	}

	function toggle_links(index, state) {
		moment_in_time[index].querySelectorAll('.link').forEach((link) => {
			link.tabIndex = state;
		});
	}

	moments.forEach((moment) => {
		moment.addEventListener('click', () => {
			// Deactivate links and remove timeline classes
			toggle_links(moments.findIndex((el) => el.classList.contains('moment-active')), -1);
			moments.forEach((el) => { el.classList.remove('moment-active'); });
			time.forEach((line) => { line.classList.remove('moment-line-active'); });

			// Activate links, add timeline classes, and scroll to next moment
			moment.classList.add('moment-active');
			let index = moments.findIndex((el) => el.classList.contains('moment-active'));

			toggle_links(index, 0);

			moment_container.scrollTo({
				left: moment_in_time[0].clientWidth * index + 25 * index,
				behavior: 'smooth'
			});

			time.slice(0, index).forEach((line) => { line.classList.add('moment-line-active'); });
		});
	});

	// Mobile Timeline Control Handler
	function space_time_jumper(direction) {
		let index = moments.findIndex((el) => el.classList.contains('moment-active'));
		let newIndex = direction === 'forward' ? index + 1 : index - 1;

		if (newIndex < 0 || newIndex >= moments.length) return;
		time.forEach((line) => { line.classList.remove('moment-line-active'); });
		time.slice(0, newIndex).forEach((line) => { line.classList.add('moment-line-active'); });

		if (newIndex >= 0 && newIndex < moments.length) {
			moments[index].classList.remove('moment-active');
			moments[newIndex].classList.add('moment-active');

			moment_container.scrollTo({
				left: moment_in_time[0].clientWidth * newIndex + 25 * newIndex,
				behavior: 'smooth'
			});
			
			moments[newIndex].scrollIntoView({
				behavior: 'smooth',
				block: 'nearest',
				inline: 'center'
			});
		}
	}

	timespan_back.addEventListener('click', () => space_time_jumper('back'));
	timespan_forward.addEventListener('click', () => space_time_jumper('forward'));

	// In the rare case someone resizes the window, ensure the active moment is still in view
	window.addEventListener('resize', () => {
		if (window.location.pathname == "/about") {
			let index = moments.findIndex((el) => el.classList.contains('moment-active'));
			document.querySelector('.moment-active').click();

			moment_container.children[index].scrollTo({
				behavior: 'smooth',
				block: 'nearest',
				inline: 'center'
			});
		}
	});	
</script>